body{
  width:300px;
  border: solid rgb(199, 186, 186);
  margin: 50px 500px;
}

.displayAnswer{
  flex-direction: column;
  text-align: right;
  padding: 10px 5px;
  height: 30px;
  width: 95%;
}

.clickButton{
  display: grid;
  display:block;
}

.clickButton button{
  width: 72px;
  padding: 2px;
  height: 38px;
  margin: auto;
  font: 15px bold; 
}

#ZeroButton{
  width: 148px;
}

#operatorKey, #equalToOperator, #clearButton{
  box-shadow: none ;
  background-color: orange;
}
